// colors
$stColor : #f1f3f5;
$secColor : #826636;
$thirdColor: #b8c2c7;
$forthcolor:#3473ba;

$fifthcolor:#f6f7f9;
$sixcolor:#f1f3f5;


$footer : #1b1d24;
$gold : #ffa41b;
$dgold: #fa8100;
$black : #000;
$white : #FFF;
$blue: #224b80;
$lightBlue: #2b79e1;
$footer: #003a41;
$lfooter: #1c4e54;
$gfooter: #008291;
$bg: #f4f5fa;
$graybg: #f1f3f5;
$grayborder: #c2cacf;
// Socials
// $twitter : #29baf1;
// $insta : #b08371;
// $fb : #204fa5;
// $yt : #b5040a;
// $gp : #d26a5e;
// $linkdin : #337597;
// Font
$baseFont : 'Proxima Nova Rg';

$size-5: 5px;
$size-10: 10px;
$size-12: 12px;
$size-14: 14px;
$size-16: 16px;
$size-20: 20px;
$size-30: 30px;